
__pycache__/User.cpython-39.pyc
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
.vs/simple-elearningPortal-py/v16/.suo
.vs/VSWorkspaceState.json
.vs/simple-elearningPortal-py/v16/TestStore/0/000.testlog
.vs/simple-elearningPortal-py/v16/TestStore/0/testlog.manifest
